DEBUG=BOOLEAN
ALLOWED_HOSTS=[localhost, 127.0.0.1]
DATABASE_NAME=YOUR DATABASE_NAME
DATABASE_USER=YOUR DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_HOST=DATABASE_HOST
DATABASE_PORT=DATABASE_PORT
CORS_ORIGIN_ALLOW_ALL=BOOLEAN
CORS_ORIGIN_WHITELIST=http://localhost:3000,http://127.0.0.1:3000
MEDIA_ROOT=YOUR MEDIA_ROOT
MEDIA_URL=YOUR MEDIA_URL